<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <analytics></analytics>
</head>

<body class="Q_PatternErrorPage">
<div id="navigation"></div>

<main class="O_MainContent O_TextErrorPage">
    <div class="W_NameErrorPage">
        <img class="A_Error" src="images/icons/404.webp" alt="404">

        <div class="M_NameBlockText">
            <p class="A_H2 Q_TextWhite Q_AlignCenter">Упс! Поворот не&nbsp;туда!</p>
            <p class="A_Text Q_TextWhite Q_AlignCenter">
                Кажется, ваш вело-маршрут привёл в тупик.<br/>
                Давайте вернёмся обратно на правильную дорожку.
            </p>
        </div>
    </div>

    <a href="index.html" class="A_Button">вернутся на главную</a>
</main>

<div id="footer"></div>
</body>

</html>