<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <analytics></analytics>
</head>

<body class="Q_PatternErrorPage">
<div id="navigation"></div>

<div class="O_MainContent O_TextErrorPage">
    <div class="W_NameErrorPage">
        <img class="A_Error" src="images/icons/429.webp" alt="408">

        <div class="M_NameBlockText">
            <h1 class="A_H2 Q_TextWhite Q_AlignCenter">Каденс зашкаливает!</h1>
            <p class="A_Text Q_TextWhite Q_AlignCenter">
                Кажется, ты переборщил с педалированием.<br/>
                Давай поумерим нагрузку.
            </p>
        </div>
    </div>

    <a href="index.html" class="A_Button">вернутся на главную</a>
</div>

<div id="footer"></div>
</body>

</html>