<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header></header>

    <section class="route-heading heading">
      <button id="back-button"><img src="images/icons/arrow-back.svg" alt="Назад"></button>
      <div class="heading-wrapper">
        <div class="heading-text">
          <h1 class="heading-title">Ищем природу в городе</h1>
          <div class="heading-description">
            Хочется потрогать траву и погулять по аллеям, но парк возле дома надоел?
            Делимся по секрету тремя маршрутами по паркам Москвы!
          </div>
        </div>
      </div>
    </section>

    <main id="record-main">
      <section class="route-block">
        <div class="route-image">
          <img src="images/routes/1/route-Gorkogo-park.png" alt="">
        </div>
        <div class="main-text-wrapper">
          <h2 class="main-heading">От ВДНХ до парка Горького</h2>
          <div class="main-text">
            Этот маршрут идеально подходит для тех, кто хочет насладиться как природой, так и историей Москвы. 
            Он соединяет два крупных и популярных парка: ВДНХ и Парк Горького, а также проходит через несколько живописных и исторических мест.
          </div>
          <ul>
            <li class="main-text">Старт: ВДНХ (станция метро ВДНХ).</li>
            <li class="main-text">Далее: Парк Сокольники.</li>
            <li class="main-text">Финиш: Парк Горького (станция метро Парк культуры).</li>
          </ul>
          <div class="route-summary">
            <div>Дистанция: 10 км</div>
            <div>Уровень сложности: средний</div>
          </div>
        </div>
      </section>

      <section class="route-block">
        <div class="route-image">
          <img src="images/routes/1/route-luzhniki.png" alt="">
        </div>
        <div class="main-text-wrapper">
          <h2 class="main-heading">От Воробьевых гор до Лужников</h2>
          <div class="main-text">
            Если вы хотите сочетать спорт с прекрасными видами, этот маршрут — для вас!
            Прокатитесь от Воробьевых гор, наслаждаясь видами на Москву-реку и город, 
            а затем направьтесь в Лужники, где можно заняться спортом или просто отдохнуть.
          </div>
          <ul>
            <li class="main-text">Старт: Воробьевы горы (станция метро Воробьевы горы).</li>
            <li class="main-text">Далее: По набережной Москвы-реки.</li>
            <li class="main-text">Финиш: Лужники (станция метро Лужники).</li>
          </ul>
          <div class="route-summary">
            <div>Дистанция: 8 км</div>
            <div>Уровень сложности: легкий</div>
          </div>
        </div>
      </section>

      <section class="route-block">
        <div class="route-image">
          <img src="images/routes/1/route-Tsaritsino.png" alt="">
        </div>
        <div class="main-text-wrapper">
          <h2 class="main-heading">От Парка Победы до Царицыно</h2>
          <div class="main-text">
            Этот маршрут идеально подходит для тех, кто хочет посмотреть на Москву и насладиться комфортными велодорожками и зелеными парками.
            Проезжая через важнейшие культурные и исторические объекты, вы не только насладитесь природой, но и получите культурный опыт.
          </div>
          <ul>
            <li class="main-text">Старт: Парк Победы (проспект Генерала Ермолова 3, станция метро Парк Победы).</li>
            <li class="main-text">Далее: Велодорожки вдоль Москвы-реки.</li>
            <li class="main-text">Финиш: Парк Царицыно (станция метро Царицыно).</li>
          </ul>
          <div class="route-summary">
            <div>Дистанция: 10 км</div>
            <div>Уровень сложности: средний</div>
          </div>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
