.Q_TextYellow {
  color: var(--yellow) !important;
}

.Q_TextWhite {
  color: var(--white) !important;
}

.Q_TextBlack {
  color: var(--main-dark) !important;
}

.Q_DarkWhiteBG {
  background-color: var(--dark-white);
}

.Q_LifehackBG1 {
  background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-1.webp');

  &:hover {
    background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-1-active.webp');
  }
}

.Q_LifehackBG2 {
  background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-2.webp');

  &:hover {
    background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-2-active.webp');
  }
}

.Q_LifehackBG3 {
  background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-3.webp');

  &:hover {
    background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-3-active.webp');
  }
}

.Q_LifehackBG4 {
  background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-4.webp');

  &:hover {
    background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-4-active.webp');
  }
}

.Q_LifehackBG5 {
  background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-5.webp');

  &:hover {
    background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-5-active.webp');
  }
}

.Q_LifehackBG6 {
  background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-6.webp');

  &:hover {
    background-image: url('../../images/lifehacks/quarks/lifehack-card-bg-6-active.webp');
  }
}

.Q_LifehacksBannerBg {
  background-color: var(--green);
  background-image:
    url('../../images/lifehacks/quarks.svg'),
    url('../../images/lifehacks/quarks/lifehacks-banner-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 600px) {
    background-image:
      url('../../images/lifehacks/quarks-mobile.svg'),
      url('../../images/lifehacks/quarks/lifehacks-banner-bg.webp');
  }
}

.Q_ArticlesBannerBg {
  background-color: var(--green);
  background-image:
    url('../../images/articles/quarks.svg'),
    url('../../images/articles/cover.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 600px) {
    background-image:
      url('../../images/articles/quarks-mobile.svg'),
      url('../../images/articles/cover.webp');
  }
}

.Q_RoutesBannerBg {
  background-color: var(--green);
  background-image:
    url('../../images/routes/quarks.svg'),
    url('../../images/routes/cover.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 600px) {
    background-image:
      url('../../images/routes/quarks-mobile.svg'),
      url('../../images/routes/cover.webp');
  }
}

.Q_AboutUsBanner {
  background-color: var(--green);
  background-image: url('../../images/about-us/quarks.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 600px) {
    background-image: url('../../images/about-us/quarks-mobile.svg');
  }
}


.Q_PatternCardWay {
  max-width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;

  @media (max-width: 700px) {
    max-height: 165px;
  }
}

.Q_PatternMainImage {
  background-color: #70805D;
  background-image:
    url('../../images/main/Q_PattermMainPage.svg'),
    url('../../images/main/A_CoverMainPage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 600px) {
    background-image:
      url('../../images/main/Q_PattermMainPageMobile.svg'),
      url('../../images/main/A_CoverMainPage.jpg');
  }
}

.Q_LineDecorate {
  background-image: url('../../images/icons/Q_LineDecorate.svg');
  background-position: right;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.Q_HideOnMobile {
  @media (max-width: 675px) {
    display: none !important;
    visibility: none !important;
  }
}