.A_Logo {
    display: block;
    max-height: 32px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;

    img {
        max-height: 32px;
    }

    @media screen and (orientation: portrait) {
        max-height: 24px;

        img {
            max-height: 24px;
        }
    }
}

.A_HseLogo {
    width: 80px;

    img {
        width: 100%;
    }

    display: block;
}

.A_PointMenu {
    padding: 4px 15px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 20px;
    vertical-align: middle;
    word-break: keep-all;

    font-family: 'SFPro';
    color: #fff;

    @media screen and (orientation: portrait) {
        font-size: 12px;
        line-height: 12px;
    }
}

.A_ActiveNav {
    color: #F3D472;
}

.A_Form {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    border: 0;
    background-color: var(--dark-white);
    padding: 11px 20px;

    font: var(--general-text);
    color: var(--main-dark);

    &:focus {
        outline-width: 0;
    }

    @media (orientation: portrait) {
        padding: 9px 16px;
        border-radius: 8px;
    }
}

.A_SearchButton {
    width: 40px;
    border: 1px solid #FFD95E;
    border-radius: 0 10px 10px 0;
    background-color: #FFD95E;

    img {
        width: 15px;
        height: 15px;
    }
}

.A_FooterNavButton {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 20px;
    vertical-align: middle;
    word-break: keep-all;

    font-family: 'SFPro';
    color: #fff;
}

.A_SocialLink {
    width: 40px;
    height: 40px;
    background-color: #70805D;
    border-radius: 50%;

    a {
        font-size: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    @media (orientation: portrait) {
        width: 30px;
        height: 30px;
    }
}

.A_PageBannerHeading {
    font-family: MursGothic;
    font-weight: normal;
    font-size: 60px;
    color: #FFD95E;

    margin: 0;
}

.A_PageBannerDescription {
    max-width: 600px;
    font: var(--general-text);
    color: white;
    text-align: center;

    margin: 0;
}

.A_Tag {
    border-radius: 20px;
    padding: 4px 12px 6px;
    background-color: var(--blue);

    font: var(--caption-font);
    color: var(--main-dark);

    @media (max-width: 480px) {
        padding: 2px 10px 4px;
    }
}

.A_CardTitle {
    font-size: 25px;
    color: white;
    z-index: 1;
    font-family: MursGothic;
}

.A_CardDetails {
    font-size: 18px;
    color: white;
    z-index: 1;
    font-family: SFPro;
}

.A_Filter {
    font: var(--general-text);
    text-decoration: none;
    color: var(--main-dark);
    padding: 5px 16px 7px;
    border: 1px solid var(--green);
    border-radius: 20px;
    background-color: transparent;

    @media (max-width: 480px) {
        padding: 2px 8px 5px;
    }
}

.A_FilterActive {
    background-color: var(--green);
    color: var(--white);
}

.A_H1 {
    font: var(--h1-font);
    color: var(--main-dark);
    line-height: 100%;
    word-break: break-word;

    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateY(20px);
    
    animation: slideUp 0.6s ease-out forwards;
}

.A_H2 {
    font: var(--h2-font);
    color: var(--main-dark);
    line-height: 100%;
    word-break: break-word;
    
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateY(20px);
    
    animation: slideUp 0.6s ease-out forwards;
}

@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.A_H3 {
    font: var(--h3-font);
    color: var(--main-dark);
    line-height: 100%;
    word-break: break-word;
    
    margin: 0;
    padding: 0;
}

.A_Text {
    font: var(--general-text);
    color: var(--main-dark);
    
    margin: 0;
    padding: 0;
    line-height: normal;
}

.A_Caption {
    font: var(--caption-font);
    color: var(--main-dark);

    line-height: normal;
}

.A_LifehackPhoto {
    max-width: 225px;
    object-fit: cover;

    @media (orientation: portrait) {
        max-width: 120px;
    }
}

.A_Button {
    border-radius: 10px;
    padding: 12px 24px;
    background-color: var(--yellow);
    border: 0;
    
    color: var(--main-dark);
    font: var(--general-text);
    line-height: 100%;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 12px;

    img {
        width: 16px;
        height: 16px;

        @media (max-width: 600px) {
            max-width: 12px;
            max-height: 12px;
        }
    }

    @media (orientation: portrait) {
        padding: 9px 16px;
        border-radius: 8px;
    }

    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--blue); 
    }
}

.A_TextButton {
    font: var(--general-text);
    color: var(--main-dark);

    display: flex;
    align-items: center;
    gap: 12px;

    img {
        max-width: 16px;
        max-height: 16px;

        @media (max-width: 600px) {
            max-width: 12px;
            max-height: 12px;
        }
    }
}

.A_ArticleRemark {
    background-position: 180% 10%;
    background-repeat: no-repeat;
}

.A_ArticleNavButton {
    font: var(--caption-font);
    color: var(--green);
    text-decoration: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    text-align: left;
    
    &:target {
        color: var(--main-dark);
    }
}

.A_ArticleNavButtonActive {
    color: var(--main-dark);
}

.A_PhotoAboutPage {
    border-radius: 15px;
    width: 100%;
}

.A_CloseButton {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;

    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 15px;
        height: 15px;
    }
}