.M_HeaderNavTabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    gap: 8px;
}

.M_Search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 48px;

    border-radius: 10px;

    @media (orientation: portrait) {
        display: none;
    }
}

.M_EmailForm {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: stretch;

    @media (orientation: portrait) {
        display: none;
    }
}

.M_FooterNav {
    width: 116px !important;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 15px;
}

.M_FooterSocial {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media screen and (orientation: portrait) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.M_PageBanner {
    width: 100%;
    height: 450px;
    margin-top: -78px;
    padding-top: 78px;
    margin-bottom: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.M_Filters {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.M_Route {
    width: 100%;
    max-width: 380px;
    aspect-ratio: 32 / 27;

    border-radius: 20px;
    padding: 20px;
    overflow: hidden;

    background-color: #70805D;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-rows: 25px auto 25px;
    align-items: center;

    .M_RouteTags {
        display: flex;
        gap: 10px;
        z-index: 1;
    }

    .M_CardInfo {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.M_LifehackCard {
    max-width: 270px;
    max-height: 270px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;

    padding: 20px;
    background-color: var(--dark-white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px 140px auto;
    justify-items: center;
    gap: 10px;

    h3 {
        text-align: center;
    }
}

.M_LifehackPageCard {
    max-width: 845px;
    width: 100%;

    align-self: center;
    margin: 90px 0;

    padding: 50px;
    background-color: var(--dark-white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.M_EditorChoiseArticleCard {
    margin-top: 40px;
    margin-bottom: 90px;

    display: flex;
    flex-direction: row;
    justify-content: stretch;

    img {
        max-width: 365px;
        width: 100%;
    }

    background-color: var(--green);
    border-radius: 15px;
}

.M_ArticleCard {
    max-width: 557px;
    border-radius: 15px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    color: var(--main-dark);
    overflow: hidden;
    
    background-color: var(--dark-white);

    img {
        width: 40%;
        flex-shrink: 1;
        aspect-ratio: 224 / 271;
        border-radius: 15px 0 0 15px;
    }
}

.M_ArticleIntro {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (orientation: portrait) {
        gap: 15px;
    }
}

.M_ArticleAuthor {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    img {
        max-width: 96px;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.M_ArticleSection {
    flex-shrink: 1;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (orientation: portrait) {
        gap: 24px;
    }
}

.M_ArticleSecionText {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (orientation: portrait) {
        gap: 16px;
    }
}

.M_ArticleList {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (orientation: portrait) {
        gap: 12px;
    }
}

.M_ArticleImages {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 15px;

    width: 100%;
    max-height: 350px;
    width: 100%;

    img {
        border-radius: 15px;
        min-height: 0;
        min-width: 0;
    }
}