.W_SearchMainPage {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 600px;
    width: 100%;
    padding: 0 16px;

    @media (max-width: 600px) {
        gap: 8px;
    }
}

.W_HeaderNav {
    width: 100%;
    max-width: 1280px;
    padding: 30px 30px 0;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    :last-child {
        justify-self: end;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        padding: 20px 20px 0;
        grid-template-columns: 60px 68px;
        justify-content: space-between;
    }
}

.W_FooterRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.W_FooterNames {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 700px) {
        flex-direction: column;
        gap: 4px;
    }
}

.W_EmailWrapper {
    display: flex;

    width: 100%;
    max-width: 600px;

    @media screen and (orientation: portrait) {
        max-width: 100%;
    }

    .W_EmailSection {
        max-width: 600px;
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        color: #fff;
    }
}

.W_LifehackHeadWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    img {
        max-height: 180px;
    }
}

.W_NamePage {
    width: 100%;
    height: 450px;
    margin-top: -78px;
    margin-bottom: 90px;
    padding: 78px 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    h1 {
        text-align: center;
    }
}

.W_NamePageMain {
    height: 700px;
    margin-bottom: 0;
}

.W_FiltersPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.W_LifehackTitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: start;
}

.W_LifehackPartWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.W_LifehackLargeCardText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;

    @media (orientation: portrait) {
        gap: 24px;
    }
}

.W_EditorChoiseArticleCardInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;

    padding: 32px;

    @media (max-width: 800px) {
        padding: 24px;
        gap: 32px;

        a {
            display: none;
        }
    }

    @media (max-width: 480px) {
        padding: 14px;
        gap: 16px;
    }
}

.W_EditorChoiseArticleCardText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    max-width: 530px;

    @media (max-width: 600px) {
        gap: 16px;

        a {
            display: none;
        }

        h2 {
            font: var(--h3-font)
        }
    }

    @media (max-width: 480px) {
        gap: 8px;
    }
}

.W_ArticleCardInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;

    padding: 24px;

    @media (max-width: 480px) {
        padding: 14px;
        gap: 16px;
    }
}

.W_ArticleCardText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    @media (max-width: 480px) {
        gap: 8px;
    }
}

.W_StoryIntro {
    width: 100%;
    background-color: var(--dark-white);
    border-radius: 0 0 30px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.W_StoryHead {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    max-width: 1100px;
    width: 100%;
    padding: 40px 30px 70px;

    @media (max-width: 1000px) {
        justify-content: center;
    }

    @media (orientation: portrait) {    
        padding-bottom: 50px;
    }
}

.W_AuthorName {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.W_WayText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 60%;
}

.W_InfoCardWay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.W_NameStory {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (orientation: portrait) {
        gap: 15px;
    }
}

.W_TextStory {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (orientation: portrait) {
        gap: 16px;
    }
}

.W_StoryEnding {
    width: 100%;
    max-width: 1190px;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    align-items: end;

    .O_Factoid {
        max-width: 700px;
    }

    margin-bottom: 90px;
}

.W_MainPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;

    .C_AllLifehacks, .C_CardsStory {
        margin: 0;
        margin-top: 40px;
    }

    .C_AllLifehacks {
        .M_LifehackCard {
            background-color: var(--white);
        }

        @media (max-width: 1100px) {
            grid-template-columns: repeat(2, min(270px, 49%));
        }
    }

    @media (orientation: portrait) {
        padding: 64px 0;
    }
}

.W_BlockDescribeTgMainPage {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;
}

.W_BlockDescribeMainPage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
}

.W_TextBlockAboutUs {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.W_FinalBlockAbout {
    margin-bottom: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    max-width: 475px;
    width: 100%;

    img {
        width: 100%;
    }
}

.W_OpenMenuMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.W_NameErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.W_NameCoverLanding {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;

    z-index: 1;

    max-width: 1200px;
    width: 100%;

    @media (max-width: 475px) {
        flex-direction: column-reverse;
    }

    .A_Logo {
        display: block;
        flex-shrink: 1;
        max-width: 540px;
        max-height: 270px;
        width: 100%;
    }
}

.W_InfoBlockLanding {
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;

    @media (max-width: 600px) {
        gap: 24px;
    }
}

.W_NameLandingPage {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    max-width: 520px;

    .A_H1 {
        text-align: start;
    }
}

.W_BlockLanding {
    max-width: 1200px;
    width: 100%;
}

.W_BlockDescribeMainPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;

    .M_NameBlockText {
        max-width: 600px;
    }

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.W_DecorativeBlockName {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 16px;

    .A_H2 {
        max-width: 575px;
        text-align: end;
    }

    @media (max-width: 600px) {
        flex-direction: column-reverse;
    }
}

.W_ArticleBlockLanding {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;

    @media (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.W_AllCardWayLanding {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    width: 100%;

    @media (max-width: 675px) {
        flex-direction: column;
    }
}

.W_CommunityBlockLanding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @media (max-width: 675px) {
        flex-direction: column;
    }
}

.W_BlockDescribeTgMainPageLanding {
    max-width: 515px;
}

.W_StyleGuideCover {
    max-width: 1200px;
    width: 100%;
    padding: 250px 30px;

    .A_Logo {
        max-width: 300px;
        max-height: 145px;
        width: 100%;
        height: 100%;
    }
}

.W_StyleGuideBlock {
    max-width: 825px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 64px;

    @media (max-width: 675px) {
        gap: 32px;
    }
}

.W_BrandPlatformBlock {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;

    :nth-child(3) {
        grid-column: 1 / span 2;
    }

    @media (max-width: 675px) {
        gap: 24px;

        grid-template-columns: repeat(1, 1fr);

        :nth-child(3) {
            grid-column: 1 / 1;
        }
        padding-bottom: 48px;
    }
}

.W_AllLogoRulesDescription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;

    :nth-child(3), :nth-child(4), :nth-child(5) {
        grid-column: 1 / span 2;
    }

    @media (max-width: 675px) {
        gap: 24px;

        grid-template-columns: repeat(1, 1fr);

        :nth-child(3), :nth-child(4), :nth-child(5) {
            grid-column: 1 / 1;
        }
        padding-bottom: 48px;
    }
}

.W_BlockLogoUsing {
    display: flex;
    flex-direction: row;
    gap: 48px;

    > div {
        max-width: 50%;
    }

    .M_Logo {
        max-width: 400px;
        width: 100%;
        img {
            width: 100%;
            max-height: 100%;
        }
    }
    @media (max-width: 675px) {
        gap: 24px;

        > div {
            max-width: 100%;
        }

        flex-direction: column-reverse;
    }
}

.W_LogoUsing {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: 675px) {
        gap: 16px;
    }
}

.W_LogoRulesPhoto {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.W_TypographyBlock {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: 675px) {
        gap: 24px;
    }
}

.W_BaseTextTypography {
    display: flex;
    gap: 48px;

    @media (max-width: 675px) {
        flex-wrap: wrap;
        gap: 24px;
    }
}

.W_TypographyColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 675px) {
        gap: 8px;
    }
}

.W_GridsBlock {
    display: flex;
    gap: 15px;
    justify-content: space-between;

    @media (max-width: 675px) {
        flex-direction: column;

        :last-child {
            flex-direction: row;
        }
    }
}

.W_StyleBlock {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: 675px) {
        gap: 24px;
    }
}

.W_PhotoMedia {
    width: 100%;

    img {
        width: 100%;
    }
}

.W_Icons {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    .A_Icons {
        max-width: 328px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    @media (max-width: 675px) {
        flex-direction: column;
    }
}