.W_HeaderNav {
    width: 100%;
    max-width: 1280px;
    padding: 30px 60px 0;

    display: grid;
    grid-template-columns: 295px 1fr 295px;
    align-items: center;

    :last-child {
        justify-self: end;
    }

    @media screen and (orientation: portrait) {
        width: 100%;
        padding: 20px 30px 0;
        grid-template-columns: 60px 1fr 60px;
        justify-content: space-between;
    }
}

.W_FooterRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.W_FooterNames {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 700px) {
        flex-direction: column;
        gap: 4px;
    }
}

.W_EmailWrapper {
    display: flex;

    width: 100%;
    max-width: 600px;

    @media screen and (orientation: portrait) {
        max-width: 100%;
    }

    .W_EmailSection {
        max-width: 600px;
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        color: #fff;
    }
}

.W_LifehackHeadWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    img {
        max-height: 180px;
    }
}

.W_NamePage {
    width: 100%;
    height: 450px;
    margin-top: -78px;
    padding-top: 78px;
    margin-bottom: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    h1 {
        text-align: center;
    }
}

.W_NamePageMain {
    height: 700px;
    margin-bottom: 0;
}

.W_FiltersPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.W_LifehackTitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: start;
}

.W_LifehackPartWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.W_LifehackLargeCardText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.W_EditorChoiseArticleCardInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;

    padding: 32px;

    @media (max-width: 800px) {
        padding: 24px;
        gap: 32px;

        a {
            display: none;
        }
    }

    @media (max-width: 480px) {
        padding: 14px;
        gap: 16px;
    }
}

.W_EditorChoiseArticleCardText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    max-width: 530px;

    @media (max-width: 600px) {
        gap: 16px;

        a {
            display: none;
        }

        h2 {
            font: var(--h3-font)
        }
    }

    @media (max-width: 480px) {
        gap: 8px;
    }
}

.W_ArticleCardInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;

    padding: 24px;

    @media (max-width: 480px) {
        padding: 14px;
        gap: 16px;
    }
}

.W_ArticleCardText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    @media (max-width: 480px) {
        gap: 8px;
    }
}

.W_StoryIntro {
    width: 100%;
    background-color: var(--dark-white);
    border-radius: 0 0 30px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.W_StoryHead {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    max-width: 1100px;
    width: 100%;
    padding: 40px 30px 70px;

    @media (max-width: 1000px) {
        justify-content: center;
    }

    @media (orientation: portrait) {    
        padding-bottom: 50px;
    }
}

.W_AuthorName {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.W_WayText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 60%;
}

.W_InfoCardWay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.W_NameStory {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (orientation: portrait) {
        gap: 15px;
    }
}

.W_TextStory {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (orientation: portrait) {
        gap: 16px;
    }
}

.W_StoryEnding {
    width: 100%;
    max-width: 1190px;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    align-items: end;

    .O_Factoid {
        max-width: 700px;
    }

    margin-bottom: 90px;
}

.W_MainPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 30px;

    .C_AllLifehacks, .C_CardsStory {
        margin: 0;
        margin-top: 40px;
    }

    .C_AllLifehacks {
        .M_LifehackCard {
            background-color: var(--white);
        }

        @media (max-width: 1100px) {
            grid-template-columns: repeat(2, min(270px, 49%));
        }
    }
}

.W_BlockDescribeTgMainPage {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;
}

.W_BlockDescribeMainPage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
}

.W_TextBlockAboutUs {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.W_FinalBlockAbout {
    margin-bottom: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    max-width: 475px;
    width: 100%;

    img {
        width: 100%;
    }
}