.C_Routes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 110px;
}

.C_Lifehacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: start;
    
    margin-top: 40px;
    margin-bottom: 90px;
}

.C_Articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(90%, 557px));
    gap: 15px;
    justify-content: center;
    
    margin-top: 40px;
    margin-bottom: 90px;

    @media (max-width: 600px) {
        margin-top: 20px;
        margin-bottom: 45px;
    }
}

.C_StorySections {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
}

.C_BlockCardsWay {
    display: grid;

    grid-template-columns: 50% 50%;
    gap: 15px;

    .W_WayText .A_Text  {
        display: none;
    }

    :first-child {
        @media (min-width: 600px) {
            grid-column: span 2;

            .W_WayText .A_Text {
                display: block;
            }

            .W_WayText .M_Tags {
                display: none;
                visibility: hidden;
            }
        }
    }

    @media (max-width: 600px) {
        grid-template-columns: 100%;
    }
}

.C_RouteSections {
    .O_BlockStoryText {
        max-width: 740px;
        padding-left: 40px;
        border-left: 1px solid var(--green);
        position: relative;

        &::before {
            content: url('../../images/routes/quarks/point.svg');
            display: inline-block;
            position: absolute;
            top: 0;
            left: -12px;

            @media (max-width: 600px) {
                transform: scale(.6666);
                object-fit: contain;
                top: -6px;
            }
        }

        @media (max-width: 600px) {
            padding-left: 20px;
        }
    }

    .O_BlockStoryText:last-child {
        border-left: 0;
        padding-bottom: 0;
    }
}

.C_CardsStory {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;

    @media (max-width: 600px) {
        grid-template-columns: 100%;        
    }
}

.C_WayFeatures {
    display: inline-flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
}