.O_Header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;

    @media screen and (orientation: portrait) {
        justify-content: stretch;
    }
}

.O_MainContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    max-width: 1190px;
    width: 100%;
    padding: 0 30px;

    @media (max-width: 600px) {
        padding: 0 16px;
    }
}

.O_SearchContent {
    margin-top: 90px;
}

.O_StoryMain {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    max-width: 1100px;
    width: 100%;
    padding: 40px 30px 90px;

    @media (max-width: 1000px) {
        justify-content: center;
    }   
}

.O_RouteMain {
    padding-bottom: 64px;
}

.O_InfoCardWay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    border-radius: 15px;
    padding: 24px;
    background-color: var(--dark-white);
    margin-top: -15px;

    @media (max-width: 600px) {
        padding: 16px;
    }

    
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--green);
    }
}


.O_BlockStoryText {
    flex-shrink: 1;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 42px;

    @media (orientation: portrait) {
        gap: 24px;
    }
}

.O_Factoid {
    background-color: var(--dark-white);
    padding: 32px 50px;
    border-radius: 15px;

    @media (orientation: portrait) {
        padding: 24px 36px;
        border-radius: 12px;
    }

    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        align-self: end;
    }

    @media (orientation: portrait) {
        gap: 15px;
    }
}

.O_BlockTgMainPage {
    background-color: var(--dark-white);
    border-radius: 30px 30px 0 0;
    max-height: 410px;
    width: 100%;
}

.O_BlockAboutUs {
    max-width: 725px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 90px;

    .M_TextAndTitle {
        align-items: center;
        text-align: center;
    }

    img {
        max-width: 100%;
    }
}

.O_OpenMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: var(--yellow);
    border-radius: 0 0 10px 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 100;

    animation: menuSlideDown 0.2s ease-out forwards;
}

@keyframes menuSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-185px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.O_TextErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 20px;
    gap: 60px;

    max-width: 640px;
    width: 100%;
}

.O_FactoidLanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 30px 30px;

    background-color: var(--transparent-green);

    width: 100%;
    padding: 64px 20px;

    background-image: url('../../images/landing/Q_LineDecorate.webp');
    background-position: right;
    background-size: auto 100%;
    background-repeat: no-repeat;

    @media (max-width: 600px) {
        padding: 32px 20px 90px;
    }
}

.O_CardTypeLanding {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 84px;
    justify-content: space-between;

    max-width: 355px;
    width: 100%;

    padding: 24px;
    border-radius: 15px;
    background-color: var(--dark-white);

    @media (max-width: 675px) {
        padding: 16px;
        gap: 44px;
        max-width: 100%;
    }
}

.O_CardReviewLanding {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;

    padding: 32px 32px 125px;
    max-width: 365px;
    width: 100%;

    border-radius: 15px;
    background-color: var(--dark-white);

    @media (max-width: 800px) {
        padding: 16px 16px 64px;
        gap: 16px;
        max-width: 100%;
    }
}

.O_NameBlockLanding {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;

    @media (max-width: 600px) {
        gap: 20px;
    }
}

.O_CallToActionTelegram {
    width: 100%;
    border-radius: 15px;
    padding: 48px;

    background-image: url('../../images/landing/O_CallToTelegramLanding.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    aspect-ratio: 1130 / 460;

    @media (max-width: 600px) {
        padding: 16px;
        aspect-ratio: 343 / 220;
    }
}

.O_BlockTgMainPageLanding {
    margin-top: 90px;

    @media (max-width: 675px) {
        margin-top: 48px;
    }
}

.O_StyleGuideCover {
    width: 100%;
    background-color: var(--main-dark);
    background-image: url('../../images/style-guide/Group 1067466.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}