<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header></header>

    <main id="main">
      <div class="sub-nav">
        <button id="back-button">Back</button>
      </div>
      <h1>Article 2</h1>
    </main>

    <footer></footer>
  </body>
</html>
