@font-face {
  font-family: MursGothic;
  src: url('../fonts/MursGothic-WideMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MursGothicDemi;
  src: url('../fonts/MursGothic-MassiveDemi.woff2') format('woff2');
}

@font-face {
  font-family: GolosText;
  src: url('../fonts/GolosText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GolosText;
  src: url('../fonts/GolosText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
