@font-face {
  font-family: MursGothic;
  src: url('../fonts/MursGothic-WideMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MursGothicDemi;
  src: url('../fonts/MursGothic-MassiveDemi.woff2') format('woff2');
}

@font-face {
  font-family: SFPro;
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}