* {
    box-sizing: border-box;
}

body {
    font-family: SFPro, sans-serif;

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
}

.hide-on-mobile {
    @media screen and (max-width: 640px) {
        display: none !important;
    }
}

.mobile-only {
    @media screen and (min-width: 640px) {
        display: none !important;
    }
}

.no-offset {
    margin: 0;
    padding: 0;
}

#back-button {
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 50px;
    width: 100px;
    
    background-color: transparent;
    padding: 0;
    border: 0;
}

.bg-black {
    background-color: #000;
}

header {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    @media screen and (orientation: portrait) {
        justify-content: stretch;
    }

    nav {
        width: 100%;
        max-width: 1280px;
        padding: 25px 40px 20px;

        display: grid;
        grid-template-columns: 135px 1fr 135px;
        grid-template-rows: 1fr;

        @media screen and (orientation: portrait) {
            width: 100%;
            grid-template-columns: 60px 1fr 60px;
            justify-content: space-between;
        }


        .logo {
            img {
                height: 32px;
            }
        }

        .nav-tabs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .nav-button {
                background-color: #2b2b2b;
                padding: 5px 20px 3px;
                border-radius: 100px;

                display: flex;
                flex-direction: row;
                align-items: center;
                height: 32px;

                @media screen and (orientation: portrait) {
                    padding: 3px 15px;
                }

                a {
                    text-decoration: none;
                    text-transform: lowercase;
                    font-size: 15px;
                    vertical-align: middle;
                    word-break: keep-all;

                    font-family: 'MursGothic';
                    color: #fff;

                    @media screen and (orientation: portrait) {
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }

            .active {
                background-color: #fff;
                border: 1px solid black;

                a {
                    color: #2b2b2b;
                }
            }
        }


        .social-links {
            display: flex;
            flex-direction: row;
            gap: 15px;

            @media screen and (orientation: portrait) {
                display: none;
                visibility: hidden;
            }

            .social-link {
                border-radius: 50%;
                width: 32px;
                height: 32px;

                img {
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                }
            }
        }
    }
}

.article-heading {
    background-color: #798872;
}

.route-heading {
    background-color: #6C8290;
}

.heading {
    width: 100%;
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    .heading-wrapper {
        max-width: 1020px;
        width: 100%;
        padding: 0 40px;

        display: flex;
        flex-direction: row;

        .heading-text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 700px;

            color: #fff;

            .heading-title {
                font-family: MursGothic;
                font-size: 50px;
                font-weight: normal;
            }

            .heading-description {
                font-family: 'SFPro';
                font-size: 20px;
                font-weight: normal;
                width: 90%;
            }
        }

        img {
            @media screen and (orientation: portrait) {
                display: none;
            }
        }
    }
}

#record-main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 40px;


    .main-block {
        max-width: 700px;
        width: 100%;

        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .route-block {
        display: flex;
        flex-direction: row;
        gap: 20px;

        max-width: 920px;
        width: 100%;

        img {
            border-radius: 30px;
        }

        .route-summary {
            background-color: #6C8290;
            border-radius: 30px;
            padding: 10px 25px;
            width: fit-content;
            
            font-family: SFPro;
            font-size: 15px;
            color: #fff;
        }
    }

    .main-heading {
        color: #000;
        font-family: 'MursGothic';
        font-size: 30px;
        font-weight: normal;
    }

    .main-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;

        img {
            border-radius: 30px;
            width: 100%;
            padding: 10px 0;
        }

        ul {
            margin: 0;
            padding-left: 30px;
        }

        .main-text {
            font-family: 'SFPro';
            color: #000;
            font-size: 20px;
        }
    }

    .reminder {
        background-color: #798872;
        border-radius: 30px;
        
        max-width: 928px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 40px;

        .reminder-wrapper {
            max-width: 620px;
            width: 100%;
            color: #fff;

            display: flex;
            flex-direction: column;
            gap: 10px;

            .reminder-title {
                font-family: MursGothic;
                font-size: 30px;
                font-weight: normal;
            }

            .reminder-description {
                font-family: 'SFPro';
                font-size: 20px;
                font-weight: normal;
                width: 90%;
            }
        }
    }
}

.teaser {
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .teaser-intro, .teaser-ending {
        max-width: 1280px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .teaser-button {
        background-color: transparent;
        border-radius: 30px;
        border: 3px solid white;
        padding: 6px 20px 3px;
        width: fit-content;

        font-family: MursGothic;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .teaser-heading {
        font-family: MursGothic;
        font-size: 50px;
        font-weight: normal;
        color: #fff;
    }

    .teaser-text {
        font-family: SFPro;
        font-size: 30px;
        color: #fff;
    }

    .teaser-block {
        max-width: 1280px;
        width: 100%;
        padding: 80px 40px;

        display: flex;
        flex-direction: column;
        gap: 60px;

        .articles-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .articles-list {
                display: grid;
                grid-template-columns: 49% 49%;
                gap: 20px;

                .card {
                    padding-bottom: 60px;

                    .card-info {
                        width: 85%;
                    }
                }
            }
        }

        .lifehacks-wrapper {
            display: grid;
            grid-template-columns: 63% 32%;
            gap: 60px;
            align-items: center;

            .lifehacks-info {
                flex-grow: 2;
            }

            .card {
                flex-grow: 1;

                .card-description {
                    text-align: center;
                }
            }
        }
    }

    .card {
        background-color: #fff;
        border-radius: 30px;
        padding: 20px;

        text-decoration: none;
        color: #000;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 100%;
        }

        .card-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0 20px;

            .card-heading {
                font-family: MursGothic;
                font-size: 30px;
                font-weight: normal;
            }

            .card-description {
                font-family: SFPro;
                font-size: 18px;
            }
        }

        .card-keywords {
            display: flex;
            flex-direction: row;
            justify-content: center;

            margin-top: auto;
            padding-top: 40px;

            .card-keyword {
                font-family: MursGothic;
                color: #fff;
                font-size: 15px;

                background-color: #6A7C64;
                padding: 7px 20px 3px;
                border-radius: 100px;
            }
        }
    }

    .routes-block {
        width: 100%;
        padding: 0;
        background-color: #6C8290;
        display: flex;
        flex-direction: column;
        align-items: center;

        .teaser-block {
            padding: 35px 40px 50px;

            .routes-wrapper {
                display: grid;
                grid-template-columns: 49% 49%;
                gap: 20px;

                .routes-info {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    .teaser-heading {
                        max-width: 425px;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-wrapper {
        max-width: 1280px;
        width: 100%;

        justify-self: end;
        min-height: 300px;
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: start;
        gap: 80px;
        justify-content: space-between;
        padding: 65px;
    
        @media screen and (orientation: portrait) {
            justify-content: space-evenly;
        }

        #authors {
            display: flex;
            flex-direction: column;
            gap: 20px;

            #authors-header {
                font-size: 30px;
                font-family: MursGothic;
                font-weight: normal;
                color: #fff;

                @media screen and (orientation: portrait) {
                    display: none;
                    visibility: hidden;
                }
            }

            .authors-container-desktop {
                display: flex;
                flex-direction: row;
                gap: 20px;

                @media screen and (orientation: portrait) {
                    display: none;
                    visibility: hidden;
                }

                .authors-photos {
                    display: flex;
                    flex-direction: row;
                    margin-left: 15px;

                    .author-photo {
                        font-size: 0;
                        border-radius: 50%;
                        border: 1px solid white;
                        margin-left: -15px;
                    }
                }

                .authors-list {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .author>a {
                        font-size: 20px;
                        font-family: SFPro;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            .authors-container-mobile {
                display: flex;
                flex-direction: row;
                gap: 20px;

                @media screen and (orientation: landscape) {
                    display: none;
                    visibility: hidden;
                }

                .authors-list {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .author {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 25px;

                        .author-photo {
                            font-size: 0;
                            border-radius: 50%;
                            border: 1px solid white;
                            margin-left: -15px;
                        }

                        a {
                            font-size: 20px;
                            font-family: SFPro;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        #footer-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 305px;
            gap: 75px;

            .project-links {
                display: flex;
                flex-direction: column;
                gap: 30px;

                @media screen and (orientation: portrait) {
                    align-items: center;
                }

                .project-link {
                    color: #fff;
                    font-size: 30px;
                    line-height: 30px;
                    text-decoration: none;
                }
            }

            .footer-social-links {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media screen and (orientation: portrait) {
                    flex-direction: row;
                    justify-content: space-evenly;
                }

                .social-link {
                    width: 40px;
                    height: 40px;
                    background-color: white;
                    border-radius: 50%;

                    @media screen and (orientation: portrait) {
                        width: 70px;
                        height: 70px;
                    }

                    a {
                        font-size: 0;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(100%, 380px));
    grid-template-rows: 1fr;
    justify-content: space-between;
    gap: 20px;

    .card {
        flex-grow: 1;

        .card-description {
            text-align: center;
            font-size: 15px !important;
        }
    }
}

.style-guide {
    max-width: 1280px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 100px !important;

    .style-section {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }
    .main-title {
        font-size: 50px;
        font-weight: normal;
        font-family: MursGothic;
    }

    .row-list {
        width: 100%;
        display: flex;
        
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 180px;
        row-gap: 80px;

        @media screen and (orientation: portrait) {
            grid-template-columns: auto;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .grid-guide, .photos-guide {
            max-width: 600px;
            width: 100%;
        }

        .logo-list {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            gap: 80px;
        }

    }

    .logo-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 80px;

        .logo-image {
            max-width: 550px;
            width: 100%;
        }

        .logo-list {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            gap: 80px;
        }

        .logo-examples {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            img {
                width: 100%;
            }

            .main-heading {
                text-align: center;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-left: 20px;
            }
        }

        .colors-guide {
            width: 100%;
        }
    }
}