* {
  box-sizing: border-box;
}

body {
  background-color: #faf2eb;
  font-family: Helvetica, sans-serif;

  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

#header, #main, #article-main, #about-us-main, #footer {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (orientation: portrait) {
    justify-content: stretch;
  }

  padding-top: 30px;
  padding-bottom: 30px;

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media screen and (orientation: portrait) {
      width: 100%;
      justify-content: space-between;
    }

    .nav-link {
      background-color: #2b2b2b;
      padding: 7px 20px 3px;
      border-radius: 100px;

      @media screen and (orientation: portrait) {
        padding: 3px 15px;
      }

      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;

      a {
        text-decoration: none;
        text-transform: lowercase;
        font-size: 20px;
        line-height: 30px;
        vertical-align: middle;
        word-break: keep-all;

        font-family: 'MursGothic';
        color: #fff;

        @media screen and (orientation: portrait) {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }

    .main-nav-link {
      a {
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
      }
    }

    .active {
      background-color: #d9bdff;
      border: 1px solid black;
    }
  }

  .social-links {
    display:flex;
    flex-direction: row;
    gap: 15px;

    @media screen and (orientation: portrait) {
      display: none;
      visibility: hidden;
    }

    .social-link {
      border-radius: 50%;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        font-size: 0;
      }
    }
  }

}

#main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 25px;

  font-family: 'MursGothic';

  #main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;

    background-color: #fff;
    border: 1px solid black;
    padding: 65px 32px;
    border-radius: 30px;

    .main-banner-logo {
      width: 100%;
      max-width: 725px;
      aspect-ratio: 725 / 150;
      font-size: 0;

      background-image: url('../images/icons/big-logo.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .main-banner-description {
      font-size: 40px;
      line-height: 40px;

      @media screen and (orientation: portrait) {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  .form-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;

    #email-section {
      flex-shrink: 1;
      display: flex;
      justify-content: stretch;

      background-color: #2b2b2b;
      border-radius: 30px;
      padding: 40px 50px 110px;

      max-width: 66%;
      height: 270px;
      width: 100%;

      @media screen and (orientation: portrait) {
        max-width: 100%;
      }

      #email-form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        color: #fff;

        .email-form-header {
          font-size: 25px;
          line-height: 40px;;
        }

        .email-form-fields {
          flex-grow: 1;
          flex-shrink: 1;

          display: flex;
          flex-direction: row;
          gap: 15px;
          justify-content: stretch;

          .email-field {
            flex-grow: 1;
            flex-shrink: 1;

            width: 0;

            background-color: transparent;
            border: 1px solid white;
            height: 60px;
            border-radius: 100px;
            padding: 0 30px;

            color: white;
            font-size: 18px;
            line-height: 40px;
            font-family: 'MursGothic';

            @media screen and (orientation: portrait) {
              height: 40px;
              font-size: 10px;
              padding: 0 20px;
            }
          }

          .email-form-submit {
            flex-shrink: 0;
            flex-grow: 0;
            width: 60px;
            height: 60px;

            background-color: transparent;
            font-size: 0;
            border-radius: 100px;

            background-image: url('../images/icons/submit.svg');
            background-size: 50%;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (orientation: portrait) {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }

    .waves-sidebar {
      flex-grow: 1;

      display: block;
      height: 270px;

      background-image: url('../images/waves.svg');
      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 30px;
      border: 1px solid black;
    }
  }

  .description-screen {
    display: flex;
    flex-direction: row;
    gap: 25px;

    .description-wrapper {
      display: flex;
      flex-direction: column;
      gap: 25px;

      max-width: 66%;
      width: 100%;

      @media screen and (orientation: portrait) {
        max-width: 100%;
      }

      #description {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (orientation: portrait) {
          gap: 30px;
        }

        background-color: #fff;
        border-radius: 30px;
        border: 1px solid black;

        padding: 100px 60px;

        #description-header {
          font-size: 40px;
          line-height: 40px;

          @media screen and (orientation: portrait) {
            font-size: 25px;
            line-height: 25px;
          }
        }

        #description-text {
          max-width: 550px;
          font-family: Helvetica;
          font-size: 25px;
          font-weight: lighter;

          @media screen and (orientation: portrait) {
            font-size: 18px;
            list-style: 18px;
          }
        }
      }

      #keywords {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;

        padding: 70px 65px;
        background-color: #d9bdff;
        border-radius: 30px;
        border: 1px solid black;

        @media screen and (orientation: portrait) {
          font-size: 20px;
          padding: 15px;
        }

        .keyword {
          background-color: #000;
          border-radius: 145px;
          padding: 6px 30px;

          font-size: 25px;
          color: #fff;

          @media screen and (orientation: portrait) {
            font-size: 15px;
            padding: 4px 20px;
          }
        }
      }
    }

    .wavy-girl {
      flex-grow: 1;

      background-image: url('../images/wavy-girl.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      border-radius: 30px;
      border: 1px solid black;

      @media screen and (orientation: portrait) {
        display: none;
      }
    }
  }

  #about-formats {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .about-formats-header-container {
      background-color: #fff;
      border: 1px solid black;
      border-radius: 30px;
      padding: 50px;

      #about-formats-header {
        font-size: 40px;
        line-height: 40px;

        @media screen and (orientation: portrait) {
          font-size: 25px;
          line-height: 25px;
        }
      }
    }

    #formats {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      gap: 25px;

      @media screen and (orientation: portrait) {
        flex-direction: column;
        justify-content: stretch;
      }

      .format {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        width: 33%;

        background-color: #d9bdff;
        border: 1px solid black;
        border-radius: 30px;
        padding: 25px 10px 60px;

        @media screen and (orientation: portrait) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 100%;
        }

        .format-header {
          background-color: #fff;
          border: 1px solid black;
          border-radius: 145px;
          padding: 7px 30px 3px;

          font-size: 25px;
        }

        .format-image {
          max-width: 360px;
          width: 100%;
          aspect-ratio: 360 / 330;
        }
      }
    }
  }
}

#about-us-main {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .about-us-with-sidebar {
    display: flex;
    flex-direction: row;
    gap: 25px;

    @media screen and (orientation: portrait) {
      flex-direction: column;
    }

    .about-us-sidebar {
      flex-grow: 1;
      flex-shrink: 1;
      height: 333px;
    }

    #logo-sidebar {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: black;
      border: 1px solid black;
      border-radius: 30px;

      img {
        width: 70%;
      }
    }

    #bike-ride-sidebar {
      @media screen and (orientation: portrait) {
        display: none;
        visibility: hidden;
      }

      img {
        height: 100%;
        background-color: black;
        border: 1px solid black;
        border-radius: 30px;
      }
    }
  }

  .about-us-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;

    max-width: 765px;
    width: 100%;

    @media screen and (orientation: portrait) {
      max-width: none;
    }

    padding: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;

    .about-us-header {
      font-family: MursGothic;
      font-size: 50px;
      line-height: 50px;

      @media screen and (orientation: portrait) {
        font-size: 35px;
        line-height: 35px;
      }
    }

    .about-us-text {
      font-family: Helvetica;
      font-size: 20px;
      max-width: 500px;

      @media screen and (orientation: portrait) {
        font-size: 18px;
      }
    }
  }
}

#article-main {
  display: flex;
  flex-direction: column;
  gap: 25px;

  #article-intro-block {
    background-color: #000;

    #article-intro-header {
      color: white;
      font-size: 50px;
      line-height: 50px;
    }

    #article-intro-text {
      color: white;
      font-size: 25px;
    }
  }

  .article-paragraph {
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: #fff;
    border: 1px solid black;
    border-radius: 30px;
    padding: 50px;

    .article-header {
      font-size: 35px;
      font-family: MursGothic;
    }

    .article-text {
      font-size: 20px;
      font-family: Helvetica;
      max-width: 680px;
    }
  }

  .article-section-with-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 25px;

    .article-paragraph {
      max-width: 800px;
      width: 100%;

      @media screen and (orientation: portrait) {
        max-width: none;
      }
    }

    .article-side-image {
      @media screen and (orientation: portrait) {
        display: none;
        visibility: hidden;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;

        border: 1px solid black;
        border-radius: 30px;
        background-color: #d9bdff;
      }
    }
  }

  .article-steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;

    .article-step {
      display: flex;
      flex-direction: row;
      gap: 25px;

      .article-step-index {
        font-size: 40px;
        line-height: 40px;
        font-style: italic;
        font-family: Helvetica;
        font-weight: lighter;
      }

      .article-text {
        max-width: 600px;
      }
    }
  }
}

.see-also-container {
  background-color: #d9bdff;
  width: 100%;
  margin-top: 80px;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .see-also {
    padding: 40px 40px 0;
    max-width: 1280px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 25px;

    .see-also-header {
      font-family: MursGothic;
      font-size: 40px;
      line-height: 45px;
    }

    .see-also-articles {
      display: flex;
      flex-direction: row;
      gap: 25px;

      @media screen and (orientation: portrait) {
        flex-direction: column;
      }

      .see-also-article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        width: 33%;

        @media screen and (orientation: portrait) {
          width: 100%;
        }

        background-color: white;
        background-image: url('../images/article-card-bg.svg');
        background-position: bottom right;
        background-repeat: no-repeat;

        border: 1px solid black;
        border-radius: 30px;
        padding: 30px;

        .see-also-keywords {
          margin-bottom: 30px;

          display: flex;
          flex-direction: row;
          gap: 10px;

          .see-also-keyword {
            background-color: white;
            border: 1px solid black;
            border-radius: 30px;
            padding: 6px 10px 4px;

            color: black;
            font-size: 14;
            font-family: MursGothic;
            text-transform: lowercase;
          }
        }

        .see-also-grey {
          background-color: #d5cfca;
        }

        .see-also-article-header {
          font-family: MursGothic;
          font-size: 35px;
          line-height: 35px;
        }

        .see-also-short-description {
          font-size: 16px;
        }
      }
    }
  }
}

#footer {
  min-height: 300px;
  background-color: #2b2b2b;
  margin-top: 60px;
  border-radius: 30px 30px 0 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: start;
  gap: 80px;
  justify-content: space-between;
  padding: 65px;

  @media screen and (orientation: portrait) {
    justify-content: space-evenly;
  }

  #authors {
    display: flex;
    flex-direction: column;
    gap: 20px;

    #authors-header {
      font-size: 30px;
      font-family: MursGothic;
      color: #fff;

      @media screen and (orientation: portrait) {
        display: none;
        visibility: hidden;
      }
    }

    .authors-container-desktop {
      display: flex;
      flex-direction: row;
      gap: 20px;

      @media screen and (orientation: portrait) {
        display: none;
        visibility: hidden;
      }

      .authors-photos {
        display: flex;
        flex-direction: row;
        margin-left: 15px;

        .author-photo {
          font-size: 0;
          border-radius: 50%;
          border: 1px solid white;
          margin-left: -15px;
        }
      }

      .authors-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .author > a {
          font-size: 20px;
          font-family: Helvetica;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    .authors-container-mobile {
      display: flex;
      flex-direction: row;
      gap: 20px;

      @media screen and (orientation: landscape) {
        display: none;
        visibility: hidden;
      }

      .authors-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .author {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 25px;

          .author-photo {
            font-size: 0;
            border-radius: 50%;
            border: 1px solid white;
            margin-left: -15px;
          }

          a {
            font-size: 20px;
            font-family: Helvetica;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }

  #footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 305px;
    gap: 75px;

    .project-links {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media screen and (orientation: portrait) {
        align-items: center;
      }

      .project-link {
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        text-decoration: none;
      }
    }

    .footer-social-links {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media screen and (orientation: portrait) {
        flex-direction: row;
        justify-content: space-evenly;
      }

      .social-link {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;

        @media screen and (orientation: portrait) {
          width: 70px;
          height: 70px;
        }

        a {
          font-size: 0;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}