$green: #70805D;

#main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;
  gap: 25px;

  font-family: 'MursGothic';

  #main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;

    background-color: #fff;
    border: 1px solid black;
    padding: 65px 32px;
    border-radius: 30px;

    .main-banner-logo {
      width: 100%;
      max-width: 725px;
      aspect-ratio: 725 / 150;
      font-size: 0;

      background-image: url('../images/icons/big-logo.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .main-banner-description {
      font-size: 40px;
      line-height: 40px;

      @media screen and (orientation: portrait) {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  .description-screen {
    display: flex;
    flex-direction: row;
    gap: 25px;

    .description-wrapper {
      display: flex;
      flex-direction: column;
      gap: 25px;

      max-width: 66%;
      width: 100%;

      @media screen and (orientation: portrait) {
        max-width: 100%;
      }

      #description {
        display: flex;
        flex-direction: column;
        gap: 40px;

        background-color: #fff;
        border-radius: 30px;
        border: 1px solid black;

        padding: 100px 60px;

        @media screen and (orientation: portrait) {
          gap: 30px;
        }

        #description-header {
          font-size: 40px;
          line-height: 40px;

          @media screen and (orientation: portrait) {
            font-size: 25px;
            line-height: 25px;
          }
        }

        #description-text {
          max-width: 550px;
          font-family: Helvetica;
          font-size: 25px;
          font-weight: lighter;

          @media screen and (orientation: portrait) {
            font-size: 18px;
            list-style: 18px;
          }
        }
      }

      #keywords {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;

        padding: 70px 65px;
        background-color: #d9bdff;
        border-radius: 30px;
        border: 1px solid black;

        @media screen and (orientation: portrait) {
          font-size: 20px;
          padding: 15px;
        }

        .keyword {
          background-color: #000;
          border-radius: 145px;
          padding: 6px 30px;

          font-size: 25px;
          color: #fff;

          @media screen and (orientation: portrait) {
            font-size: 15px;
            padding: 4px 20px;
          }
        }
      }
    }

    .wavy-girl {
      flex-grow: 1;

      background-image: url('../images/wavy-girl.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      border-radius: 30px;
      border: 1px solid black;

      @media screen and (orientation: portrait) {
        display: none;
      }
    }
  }

  #about-formats {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .about-formats-header-container {
      background-color: #fff;
      border: 1px solid black;
      border-radius: 30px;
      padding: 50px;

      #about-formats-header {
        font-size: 40px;
        line-height: 40px;

        @media screen and (orientation: portrait) {
          font-size: 25px;
          line-height: 25px;
        }
      }
    }

    #formats {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      gap: 25px;

      @media screen and (orientation: portrait) {
        flex-direction: column;
        justify-content: stretch;
      }

      .format {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        width: 33%;

        background-color: #d9bdff;
        border: 1px solid black;
        border-radius: 30px;
        padding: 25px 10px 60px;

        @media screen and (orientation: portrait) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 100%;
        }

        .format-header {
          background-color: #fff;
          border: 1px solid black;
          border-radius: 145px;
          padding: 7px 30px 3px;

          font-size: 25px;
        }

        .format-image {
          max-width: 360px;
          width: 100%;
          aspect-ratio: 360 / 330;
        }
      }
    }
  }
}

#about-us-main {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .about-us-with-sidebar {
    display: flex;
    flex-direction: row;
    gap: 25px;

    @media screen and (orientation: portrait) {
      flex-direction: column;
    }

    .about-us-sidebar {
      flex-grow: 1;
      flex-shrink: 1;
      height: 333px;
    }

    #logo-sidebar {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: black;
      border: 1px solid black;
      border-radius: 30px;

      img {
        width: 70%;
      }
    }

    #bike-ride-sidebar {
      @media screen and (orientation: portrait) {
        display: none;
        visibility: hidden;
      }

      img {
        height: 100%;
        background-color: black;
        border: 1px solid black;
        border-radius: 30px;
      }
    }
  }

  .about-us-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;

    max-width: 765px;
    width: 100%;

    padding: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;

    @media screen and (orientation: portrait) {
      max-width: none;
    }

    .about-us-header {
      font-family: MursGothic;
      font-size: 50px;
      line-height: 50px;

      @media screen and (orientation: portrait) {
        font-size: 35px;
        line-height: 35px;
      }
    }

    .about-us-text {
      font-family: Helvetica;
      font-size: 20px;
      max-width: 500px;

      @media screen and (orientation: portrait) {
        font-size: 18px;
      }
    }
  }
}

.routes-body {
  background-color: #FAF3ED;
}