<footer id="footer">
    <section id="authors">
      <h3 id="authors-header">Авторки проекта:</h3>
      <div class="authors-container-desktop">
        <div class="authors-photos">
          <img src="images/authors/vika-yanina.webp" alt="Вика Янина" class="author-photo"/>
          <img src="images/authors/alena-vetoshkina.webp" alt="Алёна Ветошкина" class="author-photo" />
        </div>
        <div class="authors-list">
          <div class="author"><a href="https://portfolio.hse.ru/Student/26039">Вика Янина</a></div>
          <div class="author"><a href="https://portfolio.hse.ru/Student/25941">Алёна Ветошкина</a></div>
        </div>
      </div>

      <div class="authors-container-mobile">
        <div class="authors-list">
          <div class="author">
            <img src="images/authors/vika-yanina.webp" alt="Вика Янина" class="author-photo"/>
            <a href="https://portfolio.hse.ru/Student/26039">Вика Янина</a>
          </div>
          <div class="author">
            <img src="images/authors/alena-vetoshkina.webp" alt="Алёна Ветошкина" class="author-photo" />
            <a href="https://portfolio.hse.ru/Student/25941">Алёна Ветошкина</a>
          </div>
        </div>
      </div>
    </section>
    <section id="footer-links">
      <div class="project-links">
        <a href="about-us.html" class="project-link">
         о проекте
         <img src="images/icons/arrow-link.svg" alt="link-arrow" class="link-arrow"/>
        </a>
      </div>
      <div class="footer-social-links">
        <div class="social-link"><a href="https://t.me/+iCtcV4CG7UphMWYy"><img src="images/icons/white-telegram.svg" alt="Telegram"></a></div>
        <div class="social-link"><a href="https://vk.com/vellmsk"><img src="images/icons/white-vk.svg" alt="VK"></a></div>
        <div class="social-link"><a href="https://dzen.ru/vell_msc"><img src="images/icons/white-dzen.svg" alt="Яндекс Дзен"></a></div>
      </div>
    </section>
  </footer>