<footer class="S_Footer">
  <div class="S_FooterWrapper">
    <section class="W_FooterRow">
      <section class="W_EmailWrapper">
        <form action="#" class="W_EmailSection">
          <h3 class="A_H3 Q_TextWhite">Будь в курсе новостей</h2>

          <div class="M_Form">
            <input type="email" placeholder="Введи свой e-mail" class="A_Form">
            <button type="submit" class="A_Button">
              подписаться
            </button>
          </div>
        </form>
      </section>

      <section class="M_FooterNav">
        <a href="articles.html" class="A_FooterNavButton">статьи</a>
        <a href="lifehacks.html" class="A_FooterNavButton">лайфхаки</a>
        <a href="routes.html" class="A_FooterNavButton">маршруты</a>
      </section>
    </section>

    <section class="W_FooterRow">
      <div class="M_Social">
        <div class="A_SocialLink"><a href="https://t.me/+iCtcV4CG7UphMWYy"><img src="images/icons/telegram.svg" alt="Telegram"></a></div>
        <div class="A_SocialLink"><a href="https://vk.com/vellmsk"><img src="images/icons/vk.svg" alt="VK"></a></div>
        <div class="A_SocialLink"><a href="https://dzen.ru/vell_msc"><img src="images/icons/dzen.svg" alt="Яндекс Дзен"></a></div>
      </div>

      <div class="A_HseLogo">
        <img src="images/icons/hse.svg" alt="HSE">
      </div>
    </section>

    <section class="W_FooterRow">
      <div class="W_FooterNames">
        <span class="A_Caption Q_TextWhite">Алена Ветошкина</span>
        <span class="A_Caption Q_TextWhite">Катя Бобровникова</span>
        <span class="A_Caption Q_TextWhite">Вика Янина</span>
      </div>
      <div class="W_FooterNames">
        <span class="A_Caption Q_TextWhite">Анна Комкова</span>
        <span class="A_Caption Q_TextWhite">Софья Каем</span>
        <span class="A_Caption Q_TextWhite">Ксения Швецова</span>
      </div>
    </section>
  </div>
</footer>