<footer class="S_Footer">
  <div class="S_FooterWrapper">
    <!-- <section id="authors">
      <h3 id="authors-header">Авторки проекта:</h3>
      <div class="authors-container-desktop">
        <div class="authors-photos">
          <img src="images/authors/vika-yanina.webp" alt="Вика Янина" class="author-photo"/>
          <img src="images/authors/alena-vetoshkina.webp" alt="Алёна Ветошкина" class="author-photo" />
        </div>
        <div class="authors-list">
          <div class="author"><a href="https://portfolio.hse.ru/Student/26039">Вика Янина</a></div>
          <div class="author"><a href="https://portfolio.hse.ru/Student/25941">Алёна Ветошкина</a></div>
        </div>
      </div>

      <div class="authors-container-mobile">
        <div class="authors-list">
          <div class="author">
            <img src="images/authors/vika-yanina.webp" alt="Вика Янина" class="author-photo"/>
            <a href="https://portfolio.hse.ru/Student/26039">Вика Янина</a>
          </div>
          <div class="author">
            <img src="images/authors/alena-vetoshkina.webp" alt="Алёна Ветошкина" class="author-photo" />
            <a href="https://portfolio.hse.ru/Student/25941">Алёна Ветошкина</a>
          </div>
        </div>
      </div>
    </section> -->
    <section class="O_FooterRow">
      <section class="W_EmailWrapper">
        <form action="#" class="W_EmailSection">
          <h2 class="A_EmailHeader">Будь в курсе новостей</h2>

          <div class="M_EmailForm">
            <input type="email" placeholder="Введи свой e-mail" class="A_EmailField">
            <button type="submit" class="A_EmailSubmit">Подписаться</button>
          </div>
        </form>
      </section>

      <section class="M_FooterNav">
        <a href="articles-1.html" class="A_FooterNavButton">статьи</a>
        <a href="lifehacks.html" class="A_FooterNavButton">лайфхаки</a>
        <a href="routes.html" class="A_FooterNavButton">маршруты</a>
      </section>
    </section>

    <section class="O_FooterRow">
      <div class="M_FooterSocial">
        <div class="A_FooterSocialLink"><a href="https://t.me/+iCtcV4CG7UphMWYy"><img src="images/icons/footer-telegram.svg" alt="Telegram"></a></div>
        <div class="A_FooterSocialLink"><a href="https://vk.com/vellmsk"><img src="images/icons/footer-vk.svg" alt="VK"></a></div>
        <div class="A_FooterSocialLink"><a href="https://dzen.ru/vell_msc"><img src="images/icons/footer-dzen.svg" alt="Яндекс Дзен"></a></div>
      </div>

      <div class="A_HseLogo">
        <img src="images/icons/hse.svg" alt="HSE">
      </div>
    </section>
  </div>
</footer>