<header id="header">
  <nav class="navigation">
    <div class="logo-container">
      <div class="nav-button logo">
        <a href="index.html">Vell</a>
      </div>
    </div>
    <div class="nav-tabs">
      <div class="nav-button">
        <a href="articles.html">статьи</a>
      </div>
      <div class="nav-button">
        <a href="lifehacks.html">лайфхаки</a>
      </div>
      <div class="nav-button">
        <a href="routes.html">маршруты</a>
      </div>
      <div class="nav-button">
        <a href="tests.html">тесты</a>
      </div>
      <div class="nav-button">
        <a href="about-us.html">о нас</a>
      </div>
    </div>
  </nav>
</header>