<header class="O_Header">
  <nav class="W_HeaderNav">
    <a class="A_Logo" href="index.html">
      <img src="images/icons/logo.svg" alt="">
    </a>
    <div class="M_HeaderNavTabs">
        <a href="articles-1.html" class="A_NavButton">статьи</a>
        <a href="lifehacks.html" class="A_NavButton">лайфхаки</a>
        <a href="routes.html" class="A_NavButton">маршруты</a>
    </div>
    <div class="M_Search">
      <input class="A_SearchInput" type="text" placeholder="поиск" size="20" />
      <button class="A_SearchButton">
        <img src="images/icons/search-icon.svg" alt="Найти">
      </button>
    </div>
  </nav>
</header>