<header>
  <nav>
    <div class="logo-container">
        <a class="logo" href="index.html"><img src="images/icons/logo.svg" alt=""></a>
    </div>
    <div class="nav-tabs">
        <a href="articles-1.html" class="nav-button">статьи</a>
        <a href="lifehacks.html" class="nav-button">лайфхаки</a>
        <a href="routes.html" class="nav-button">маршруты</a>
    </div>
    <div class="search-box">
      <input class="search-input" type="text" placeholder="поиск" size="20" />
      <button class="search-button">
        <img src="images/icons/search-icon.svg" alt="Найти">
      </button>
    </div>
  </nav>
</header>