<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header></header>

    <main id="about-us-main">
      <div class="about-us-with-sidebar">
        <section id="about-project" class="about-us-block">
          <h2 class="about-us-header">О&nbsp;проекте</h2>
          <span class="about-us-text">Наше медиа призвано помочь начинающим велосипедистам освоиться в&nbsp;езде по&nbsp;городу, узнать все правила и нюансы, а&nbsp;также стать самым модным велолюбителем</span>
        </section>
        <section id="logo-sidebar" class="about-us-sidebar">
          <img src="images/white-big-logo.svg" alt="Vell">
        </section>
      </div>
      <div class="about-us-with-sidebar">
        <section id="bike-ride-sidebar" class="about-us-sidebar">
          <img src="images/bike-ride.png" alt="Bike Ride">
        </section>
        <section id="about-authors" class="about-us-block">
          <h2 class="about-us-header">О&nbsp;нас</h2>
          <span class="about-us-text">Мы — Алёна и&nbsp;Вика. И&nbsp;мы любим велосипеды. Этот&nbsp;проект стал для&nbsp;нас тем ресурсом, в&nbsp;котором мы сами когда-то нуждались и отчасти до&nbsp;сих пор нуждаемся.</span>
        </section>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
