<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header></header>

    <main id="main">
      <div class="sub-nav">
        <button id="back-button">Back</button>
      </div>
      <div class="list">
        <div class="list-item">
          <h4 class="list-item-title"><a href="/articles/1.html">Article 1</a></h4>
        </div>
        <div class="list-item">
          <h4 class="list-item-title"><a href="/articles/2.html">Article 2</a></h4>
        </div>
        <div class="list-item">
          <h4 class="list-item-title"><a href="/articles/3.html">Article 3</a></h4>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
