<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header></header>
    
    <div class="M_PageBanner Q_LifehacksBannerBg">
      <h1 class="A_H1 Q_TextYellow">Статьи</h1>
      <p class="A_PageBannerDescription">
        Рассказываем в подробностях обо всём:<br/>
        от правил безопасности до подбора велосипедок
      </p>
    </div>

    <main class="O_MainContent">
      <h2 class="A_H2">Выбор редакции</h2>
      <div id="article_editor_choice">
        <div class="M_EditorChoiseArticleCard">
          <img src="#" alt="">
          <div class="M_EditorChoiseArticleCardInfo">
            <span class="A_Tag">виды велосипедов</span>
            <div class="W_EditorChoiseArticleCardText">
              <h2 class="A_H2 Q_TextWhite">Основные виды велосипедов</h2>
              <div class="A_Text Q_TextWhite">
                Каждый велосипед создан для своих задач. Разбираемся,
                чем они отличаются и какой вариант подойдёт именно вам.
              </div>
            </div>
            <a href="#" class="A_Button">читать</a>
          </div>
        </div>
      </div>

      <h2 class="A_H2">Все статьи</h2>
      <div id="filters" class="M_Filters"></div>

      <div id="articles_list" class="C_Articles"></div>
    </main>

    <footer></footer>
  </body>
</html>
