<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header></header>

    <div id="story-banner" class="S_StoryCover"></div>

    <section id="story-intro" class="W_StoryIntro"></section>

    <main id="story-text" class="O_StoryMain">
        <aside id="story-nav" class="M_NavigationStory"></aside>
        <div id="story-sections" class="C_StorySections"></div>
    </main>

    <section class="S_RecommendationStory">
        <h2 class="A_H2">Будет интересно</h2>
        <div id="articles_list" class="C_CardsStory"></div>
    </section>

    <footer></footer>
</body>

</html>