<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header></header>
    
    <div class="M_PageBanner Q_LifehacksBannerBg">
      <h1 class="A_H1 Q_TextYellow">Статьи</h1>
      <p class="A_PageBannerDescription">
        Рассказываем в подробностях обо всём:<br/>
        от правил безопасности до подбора велосипедок
      </p>
    </div>

    <main class="O_MainContent">
      <h2 class="A_H2">Выбор редакции</h2>
      <div id="article_editor_choice"></div>

      <h2 class="A_H2">Все статьи</h2>
      <div id="filters" class="M_Filters"></div>

      <div id="articles_list" class="C_Articles"></div>

      <div id="pagination" class="M_Pagination"></div>
    </main>

    <footer></footer>
  </body>
</html>
