<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header></header>

    <div id="article-banner" class="A_ArticleBanner"></div>

    <section id="article-intro" class="W_ArticleIntro"></section>

    <main id="article-text" class="O_ArticleMain">
        <aside id="article-nav" class="C_ArticleNav"></aside>
        <div id="article-sections" class="C_ArticleSections"></div>
    </main>

    <section class="O_Recomendations">
        <h2 class="A_H2">Будет интересно</h2>
        <div id="articles_list" class="C_Articles"></div>
    </section>

    <footer></footer>
</body>

</html>