<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header></header>
    
    <div class="M_PageBanner Q_LifehacksBannerBg">
      <h1 class="A_H1">Лайфхаки</h1>
      <p class="A_PageBannerDescription">
        Собрали короткие и полезные<br />советы в&nbsp;карточках
      </p>
    </div>

    <main class="O_MainContent">
      <h2 class="A_H2">Выбор редакции</h2>
      <div id="editor_choice_list" class="C_Lifehacks"></div>

      <h2 class="A_H2">Все лайфхаки</h2>
      <div class="M_Filters">
        <a class="A_Filter A_FilterActive" href="#">все</a>
        <a class="A_Filter" href="#">экипировка</a>
        <a class="A_Filter" href="#">безопасность</a>
        <a class="A_Filter" href="#">аксессуары</a>
        <a class="A_Filter" href="#">виды велосипедов</a>
        <a class="A_Filter" href="#">здоровье</a>
        <a class="A_Filter" href="#">тренировки</a>
      </div>

      <div id="lifehacks_list" class="C_Lifehacks">
      </div>
    </main>

    <footer></footer>
  </body>
</html>
