<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="bg-black">
    <header></header>

    <main class="teaser">
      <button id="back-button"><img src="images/icons/arrow-back.svg" alt="Назад"></button>

      <div class="teaser-block">
        <div class="list">
          <div>
            <a href="#" class="card">
              <img src="images/lifehacks/panties-lifehack.svg" alt="Снимай трусы">
              <div class="card-info">
                <div class="card-description">
                  Велосипедки — не просто шорты. Они сделаны из дышащей 
                  и не сковывающей движения ткани, а также имеют специальные 
                  уплотнения для гигиены и защиты от кочек. Наличие нижнего белья
                  может привести к натиранию и поту.
                </div>
              </div>
              <div class="card-keywords">
                <div class="card-keyword">экипировка</div>
              </div>
            </a>
          </div>
          <div>
            <a href="#" class="card">
              <img src="images/lifehacks/tape-lifehack.svg" alt="Поможет изолента">
              <div class="card-info">
                <div class="card-description">
                  При проезде по неровностям цепь бьется о нижнее перо велосипеда. На металле остаются сколы,
                  да и звук этого удара неприятный. Можно решить эту проблему покупкой специальной защиты пера,
                  или воспользоваться подручными средствами —  изолентой.
                </div>
              </div>
              <div class="card-keywords">
                <div class="card-keyword">починка</div>
              </div>
            </a>
          </div>
          <div>
            <a href="#" class="card">
              <img src="images/lifehacks/wheels-lifehack.svg" alt="Меняй колеса">
              <div class="card-info">
                <div class="card-description">
                  Чем больше шипов и шире резина — тем лучше сцепление.
                  Замена шин в сезон холодов поможет справиться с грязью и гололёдом.
                </div>
              </div>
              <div class="card-keywords">
                <div class="card-keyword">обслуживание</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
