<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header></header>

    <main class="O_MainContent">
        <section id="lifehack-text" class="M_LifehackPageCard">
            <div class="W_LifehackHeadWrapper">
                <div class="W_LifehackTitleWrapper">
                    <span class="A_Tag">аксессуары</span>
                    <h1 class="A_H1">Польза перчаток</h1>
                </div>
                <img src="images/lifehacks/list/A_PhotoLifehack-2.webp">
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
        </section>

        <h2 class="A_H2">Будет интересно</h2>
        <div id="lifehacks_list" class="C_Lifehacks"></div>
    </main>

    <footer></footer>
</body>

</html>