<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <analytics></analytics>
</head>

<body>
    <header class="O_Header">
        <nav class="W_HeaderNav">
          <a class="A_Logo" href="index.html">
            <img src="images/icons/logo-dark.svg" alt="">
          </a>
          <div class="M_HeaderNavTabsDark Q_HideOnMobile">
              <a href="articles.html" class="A_PointMenu Q_TextBlack">статьи</a>
              <a href="lifehacks.html" class="A_PointMenu Q_TextBlack">лайфхаки</a>
              <a href="routes.html" class="A_PointMenu Q_TextBlack">маршруты</a>
              <a href="about-us.html" class="A_PointMenu Q_TextBlack">о нас</a>
          </div>
          <div class="M_Search">
            <input class="A_Form" type="text" placeholder="Я ищу..." size="20" />
          </div>
        </nav>
      </header>

    <main class="O_MainContent">
        <section id="lifehack-text" class="M_LifehackPageCard">
            <div class="W_LifehackHeadWrapper">
                <div class="W_LifehackTitleWrapper">
                    <span class="A_Tag">аксессуары</span>
                    <h1 class="A_H1">Польза перчаток</h1>
                </div>
                <img src="images/lifehacks/list/A_PhotoLifehack-2.webp">
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
            <div class="W_LifehackPartWrapper">
                <h3 class="A_H3">Улучшение сцепления</h3>
                <div class="A_Text">
                    Велоперчатки обеспечивают надежный захват руля, предотвращая скольжение рук, особенно во время дождя или интенсивных тренировок.
                </div>
            </div>
        </section>

        <h2 class="A_H2">Будет интересно</h2>
        <div id="lifehacks_list" class="C_AllLifehacks"></div>
    </main>

    <footer></footer>
</body>

</html>