<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= htmlWebpackPlugin.tags.headTags %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body class="O_MainContent">
  <header></header>

  <div class="M_PageBanner">
    <h1 class="A_PageBannerHeading">Маршруты</h1>
    <p class="A_PageBannerDescription">
      Лучшие велосипедные путешествия — от&nbsp;городских улиц до&nbsp;живописных троп. Читай и отправляйся в&nbsp;путь!
    </p>
  </div>

  <main class="W_MainContent">
    <div class="M_Filters">
      <a class="A_Filter A_Active" href="#">всё</a>
      <a class="A_Filter" href="#">экипировка</a>
      <a class="A_Filter" href="#">безопасность</a>
      <a class="A_Filter" href="#">аксессуары</a>
      <a class="A_Filter" href="#">виды велосипедов</a>
      <a class="A_Filter" href="#">здоровье</a>
      <a class="A_Filter" href="#">тренировки</a>
    </div>
    <div class="C_Routes">
      <div class="M_Route Q_RouteCardV1">
        <div class="M_RouteTags">
          <span class="A_Tag">городской</span>
          <span class="A_Tag">исторический</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Парк Горького — Воробьевы горы</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV2">
        <div class="M_RouteTags">
          <span class="A_Tag">спортивный</span>
          <span class="A_Tag">городской</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Кусково — Химки</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV1">
        <div class="M_RouteTags">
          <span class="A_Tag">городской</span>
          <span class="A_Tag">исторический</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Парк Горького — Воробьевы горы</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV2">
        <div class="M_RouteTags">
          <span class="A_Tag">спортивный</span>
          <span class="A_Tag">городской</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Кусково — Химки</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV1">
        <div class="M_RouteTags">
          <span class="A_Tag">городской</span>
          <span class="A_Tag">исторический</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Парк Горького — Воробьевы горы</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV2">
        <div class="M_RouteTags">
          <span class="A_Tag">спортивный</span>
          <span class="A_Tag">городской</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Кусково — Химки</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV1">
        <div class="M_RouteTags">
          <span class="A_Tag">городской</span>
          <span class="A_Tag">исторический</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Парк Горького — Воробьевы горы</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV2">
        <div class="M_RouteTags">
          <span class="A_Tag">спортивный</span>
          <span class="A_Tag">городской</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Кусково — Химки</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
      <div class="M_Route Q_RouteCardV1">
        <div class="M_RouteTags">
          <span class="A_Tag">городской</span>
          <span class="A_Tag">исторический</span>
        </div>
        <div class="M_CardInfo">
          <div class="A_CardTitle">Парк Горького — Воробьевы горы</div>
          <div class="A_CardDetails">Сложность: низкая, 6 км, 45 минут (с остановками)</div>
        </div>
      </div>
  </main>

  <footer></footer>
</body>

</html>