<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= htmlWebpackPlugin.tags.headTags %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
  <header class="O_Header">
    <nav class="W_HeaderNav">
      <a class="A_Logo" href="index.html">
        <img src="images/icons/logo.svg" alt="">
      </a>
      <div class="M_HeaderNavTabs">
          <a href="articles.html" class="A_PointMenu">статьи</a>
          <a href="lifehacks.html" class="A_PointMenu">лайфхаки</a>
          <a href="routes.html" class="A_PointMenu">маршруты</a>
          <a href="about-us.html" class="A_PointMenu">о нас</a>
      </div>
      <div class="M_Social">
        <div class="A_SocialLink"><a href="https://t.me/+iCtcV4CG7UphMWYy"><img src="images/icons/telegram.svg" alt="Telegram"></a></div>
        <div class="A_SocialLink"><a href="https://vk.com/vellmsk"><img src="images/icons/vk.svg" alt="VK"></a></div>
        <div class="A_SocialLink"><a href="https://dzen.ru/vell_msc"><img src="images/icons/dzen.svg" alt="Яндекс Дзен"></a></div>
      </div>
    </nav>
  </header>

  <div class="W_NamePage W_NamePageMain Q_PatternMainImage">
    <h1 class="A_H1 Q_TextYellow">Твой помощник<br />в&nbsp;езде на&nbsp;велосипеде</h1>
    <p class="A_PageBannerDescription">
      Исследуй. Достигай. Вдохновляйся.<br />
      Мы рядом, пока ты крутишь педали.
    </p>
  </div>

  <div class="W_MainPage">
    <div class="O_MainContent">
      <div class="W_BlockDescribeMainPage">
        <h2 class="A_H2">Авторские статьи</h2>
        <a href="articles.html" class="A_TextButton">
          Все статьи
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>

      <div class="С_ArticleMainPage">
        <div id="articles_list" class="C_AllCardsArticle"></div>
        <div id="article_editor_choice"></div>
      </div>
    </div>
  </div>

  <div class="W_MainPage Q_DarkWhiteBG">
    <div class="O_MainContent">
      <div class="W_BlockDescribeMainPage">
        <h2 class="A_H2">Лайфхаки</h2>
        <a href="lifehacks.html" class="A_TextButton">
          Все лайфхаки
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>

      <div id="lifehacks_list" class="C_AllLifehacks"></div>
    </div>
  </div>

  <div class="W_MainPage">
    <div class="O_MainContent">
      <div class="W_BlockDescribeMainPage">
        <h2 class="A_H2">Маршруты</h2>
        <a href="routes.html" class="A_TextButton">
          Все маршруты
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>

      <div class="C_CardsStory">
        <a class="S_CardWay" href="route.html?id=1">
          <img class="Q_PatternCardWay" src="images/routes/2/cover.webp" alt="">
          <div class="O_InfoCardWay">
            <div class="W_WayText">
              <h3 class="A_H3">Ляпота Тульской области</h3>
              <div class="M_Tags">
                <div class="A_Tag">природный</div>
                <div class="A_Tag">тренировка</div>
              </div>
            </div>
            <div class="W_InfoCardWay">
              <div class="M_WayInfo">
                <img src="images/routes/quarks/difficulty-hard.svg">
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/location.svg">
                <span class="A_Caption">60 км</span>
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/time.svg">
                <span class="A_Caption">на день</span>
              </div>
            </div>
          </div>
        </a>
        <a class="S_CardWay" href="route.html?id=1">
          <img class="Q_PatternCardWay" src="images/routes/2/cover.webp" alt="">
          <div class="O_InfoCardWay">
            <div class="W_WayText">
              <h3 class="A_H3">Ляпота Тульской области</h3>
              <div class="M_Tags">
                <div class="A_Tag">природный</div>
                <div class="A_Tag">тренировка</div>
              </div>
            </div>
            <div class="W_InfoCardWay">
              <div class="M_WayInfo">
                <img src="images/routes/quarks/difficulty-hard.svg">
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/location.svg">
                <span class="A_Caption">60 км</span>
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/time.svg">
                <span class="A_Caption">на день</span>
              </div>
            </div>
          </div>
        </a>
        <a class="S_CardWay" href="route.html?id=1">
          <img class="Q_PatternCardWay" src="images/routes/1/cover.webp" alt="">
          <div class="O_InfoCardWay">
            <div class="W_WayText">
              <h3 class="A_H3">Ляпота Тульской области</h3>
              <p class="A_Text">Маршрут знакомит с тихими и красивыми уголками Тульской области — местами, где природа, сельская жизнь и история переплетаются.</span>
              <div class="M_Tags">
                <div class="A_Tag">природный</div>
                <div class="A_Tag">тренировка</div>
              </div>    
            </div>
            <div class="W_InfoCardWay">
              <div class="M_WayInfo">
                <img src="images/routes/quarks/difficulty-hard.svg">
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/location.svg">
                <span class="A_Caption">60 км</span>
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/time.svg">
                <span class="A_Caption">на день</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="O_BlockTgMainPage W_MainPage Q_LineDecorate Q_HideOnMobile">
    <div class="O_MainContent">
      <div class="W_BlockDescribeTgMainPage">
        <div class="M_TextAndTitle">
          <h2 class="A_H2">Больше новинок в нашем телеграме </h2>
          <div class="A_Text">Пописывайся на канал и узнавай всё самое интересное из мира велоспорта</div>
        </div>
        <a href="#" class="A_Button">
          перейти в телеграм
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>
    </div>
  </div>

  <footer></footer>
</body>

</html>