<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= htmlWebpackPlugin.tags.headTags %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    
    <analytics></analytics>
</head>

<body>
  <div id="navigation"></div>

  <div class="W_NamePage W_NamePageMain Q_PatternMainImage">
    <h1 class="A_H1 Q_TextYellow">Твой помощник<br />в&nbsp;езде на велосипеде</h1>
    <p class="A_PageBannerDescription">
      Исследуй. Достигай. Вдохновляйся.<br />
      Мы рядом, пока ты крутишь педали.
    </p>

    <div id="search-box"></div>
  </div>

  <div class="W_MainPage">
    <div class="O_MainContent">
      <div class="W_BlockDescribeMainPage">
        <h2 class="A_H2">Авторские статьи</h2>
        <a href="articles.html" class="A_TextButton">
          Все статьи
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>

      <div class="С_ArticleMainPage">
        <div id="articles_list" class="C_AllCardsArticle"></div>
        <div id="article_editor_choice"></div>
      </div>
    </div>
  </div>

  <div class="W_MainPage Q_DarkWhiteBG">
    <div class="O_MainContent">
      <div class="W_BlockDescribeMainPage">
        <h2 class="A_H2">Лайфхаки</h2>
        <a href="lifehacks.html" class="A_TextButton">
          Все лайфхаки
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>

      <div id="lifehacks_list" class="C_AllLifehacks"></div>
    </div>
  </div>

  <div class="W_MainPage">
    <div class="O_MainContent">
      <div class="W_BlockDescribeMainPage">
        <h2 class="A_H2">Маршруты</h2>
        <a href="routes.html" class="A_TextButton">
          Все маршруты
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>

      <div class="C_CardsStory">
        <a class="S_CardWay" href="route.html?id=3">
          <img class="Q_PatternCardWay" src="images/routes/3/cover.webp" alt="">
          <div class="O_InfoCardWay">
            <div class="W_WayText">
              <h3 class="A_H3">Контроль и баланс</h3>
              <div class="M_Tags">
                <div class="A_Tag">рельефный</div>
                <div class="A_Tag">тренировка</div>
              </div>
            </div>
            <div class="W_InfoCardWay">
              <div class="M_WayInfo">
                <img src="images/routes/quarks/difficulty-normal.svg">
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/location.svg">
                <span class="A_Caption">от 16 км</span>
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/time.svg">
                <span class="A_Caption">1.5-3 часа</span>
              </div>
            </div>
          </div>
        </a>
        <a class="S_CardWay" href="route.html?id=8">
          <img class="Q_PatternCardWay" src="images/routes/8/cover.webp" alt="">
          <div class="O_InfoCardWay">
            <div class="W_WayText">
              <h3 class="A_H3">Маршрут для свиданий</h3>
              <div class="M_Tags">
                <div class="A_Tag">прогулка</div>
                <div class="A_Tag">парки</div>
              </div>
            </div>
            <div class="W_InfoCardWay">
              <div class="M_WayInfo">
                <img src="images/routes/quarks/difficulty-easy.svg">
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/location.svg">
                <span class="A_Caption">15 км</span>
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/time.svg">
                <span class="A_Caption">2 часа</span>
              </div>
            </div>
          </div>
        </a>
        <a class="S_CardWay" href="route.html?id=5">
          <img class="Q_PatternCardWay" src="images/routes/5/cover.webp" alt="">
          <div class="O_InfoCardWay">
            <div class="W_WayText">
              <h3 class="A_H3">Для силы и выносливости</h3>
              <p class="A_Text">Создан для тех, кто хочет прокачать скорость, технику поворотов <br> и выносливость в естественных условиях.</span>
              <div class="M_Tags">
                <div class="A_Tag">прогулка</div>
                <div class="A_Tag">парки</div>
              </div>    
            </div>
            <div class="W_InfoCardWay">
              <div class="M_WayInfo">
                <img src="images/routes/quarks/difficulty-hard.svg">
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/location.svg">
                <span class="A_Caption">от 48 км</span>
              </div>
              <div class="M_WayInfo">
                <img src="images/routes/quarks/time.svg">
                <span class="A_Caption">3-5 часов</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="O_BlockTgMainPage W_MainPage Q_LineDecorate Q_HideOnMobile">
    <div class="O_MainContent">
      <div class="W_BlockDescribeTgMainPage">
        <div class="M_TextAndTitle">
          <h2 class="A_H2">Больше новинок в нашем телеграме </h2>
          <div class="A_Text">Пописывайся на канал и узнавай всё самое интересное из мира велоспорта</div>
        </div>
        <a href="#" class="A_Button">
          перейти в телеграм
          <img src="images/icons/A_Arrow.svg" alt="">
        </a>
      </div>
    </div>
  </div>

  <div id="footer"></div>
</body>

</html>